<!DOCTYPE html>
<html lang="en">
    <head>
        <b><p style="text-align : center;font-size:40px;font-family:Arial; color:green">TradeTrove</p></b>
    </head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="logo">
                <h1> <i><p style = "text-align : center; font-size: 25px; font-family: Arial; color:black">Welcome to TradeTrove</p></h1></i>
            </div>
            <form method="POST" action="{{ url_for('login') }}">
                <p style="text-align: center; font-size : 20px;font-family:Arial; color:black"> If you have an account, please log in, else <a href="https://www.google.com">sign up</a>.</p>
                
                <br>
                <div class="form-group">
                    <p style="font-size:20px;font-family:Arial; color:blue">Username</p>
                    <input type="username" name="username" placeholder="Scrivi il tuo username...">
                </div>
                <div class="form-group">
                    <p style="font-size:20px;font-family:Arial; color:blue">Password</p>
                    <input type="password" name="password" placeholder="Scrivi la tua password...">
                    <br>
                    <br>
                </div>
                <div class="form-group">
                     <button type="submit" class="btn">Login</button>
                </div>
                <div class="form-group">
                    <h2> <i><p style = "text-align : center; font-size: 12px; font-family: Arial; color:black">Remember that signing up or logging in you accept our <a href="https://www.google.com">terms and conditions</a>.</p></h1></i>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
