<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
            <b><p style="text-align : center;font-size:40px;font-family:Arial; color:green">TradeTrove</p></b>
        </head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="logo">
                <h1><b><p style="text-align : center;font-size:30px;font-family:Arial; color:blueviolet">Registration</p></b></h1>
            </div>
            <form method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                    <p style="font-size:20px;font-family:Arial; color:blue">Username</p>
                    <input type="username" name="username" placeholder="Scrivi il tuo username...">
                </div>
                <div class="form-group">
                    <p style="font-size:20px;font-family:Arial; color:blue">Email</p>
                    <input type="email" name="email" placeholder="Scrivi la tua email...">
                </div>
                <div class="form-group">
                    <p style="font-size:20px;font-family:Arial; color:blue">Password</p>
                    <input type="password" name="password" placeholder="Scrivi la tua password...">
                </div>
                <div class="form-group">
                    <br>
                    <input type="password2" name="password2" placeholder="Ricrivi la tua password...">
                </div>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn">Sign Up!</button>
                </div>
                <div class="form-group">
                    <p style="text-align : center;font-size:30px;font-family:Arial">Already have an account? <a href="trade.html">Sign in</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
